button {
    padding: 25px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
    background: #5C81F3;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.8;
}

.default {
    color: #FFFFFF;
    background: #5C81F3;
}

.green {
    color: #050D42;
    background: #5FD58C;
}