.title1 {
    padding:8px 0 50px 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #050D42;
}

.title2 {
    padding: 8px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #7487C3;
}